body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

header {
    background-color: #2c3e50;
    padding: 10px 0;
}

.nav {
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
}

.nav-list a:hover {
    color: #f39c12;
}

/* Estils per a les targetes */
.cartesPokemon {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    justify-items: center; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Targetes */
.pokemon-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease;
    background-color: #f5f5f5;
    width: 160px; 
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-img {
    width: 120px; 
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.pokemon-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2c3e50;
    text-transform: capitalize;
}

.pokemon-stat {
    font-size: 0.9rem;
    color: #7f8c8d;
}

.pokemon-type {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

/*.pokemon-type span {
    background-color: #f39c12;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}*/

/* Estils dinàmics pels tipus */
.type-normal {
    background-color: #a8a878; 
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-fighting {
    background-color: #c03028;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-flying {
    background-color: #a890f0;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-poison {
    background-color: #a040a0;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-ground {
    background-color: #e0c068;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-rock {
    background-color: #b8a038;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-bug {
    background-color: #a8b820;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-ghost {
    background-color: #705898;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-steel {
    background-color: #b8b8d0;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-fire {
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-water {
    background-color: #6890f0;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-grass {
    background-color: #78c850;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-electric {
    background-color: #f8d030;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-psychic {
    background-color: #f85888;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-ice {
    background-color: #98d8d8;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-dragon {
    background-color: #7038f8;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-dark {
    background-color: #705848;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.type-fairy {
    background-color: #ee99ac;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

/* Responsive per pantalles més petites */
@media (max-width: 768px) {
    .pokemon-container {
        grid-template-columns: repeat(2, 1fr);  
    }
}

@media (max-width: 480px) {
    .pokemon-container {
        grid-template-columns: 1fr;
    }
}
